
      p{background-color: aqua;}
      body{background-color: brown;}
      h1{font-size: large; color: blue; background-color: antiquewhite;}
      h2{background-color: aquamarine; color: blueviolet;}
